@tailwind base;
@tailwind components;
@tailwind utilities;

.iframe-wrapper {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;

  iframe,
  video,
  .react-player__preview {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    @apply rounded;
  }

  > div {
    width: auto !important;
    height: auto !important;
  }
}

@layer utilities {
  .font-petite-caps {
    font-variant: all-petite-caps;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .section-spacing-m {
    @apply my-side-padding md:my-xl lg:my-2xl;
  }

  .section-spacing-p {
    @apply py-side-padding md:py-xl lg:py-2xl;
  }
}
